name: Build
on: [push]
jobs:
  build:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - name: Setup Node
      uses: actions/setup-node@v3.1.0
      with:
        node-version: '16'
    - uses: actions/checkout@v3
    - name: Dependencies
      run: npm install
    - name: Check
      run: npm run check
